################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LoggerWrapper/bin/Debug/netstandard2.0
/LoggerWrapper/obj
/LoggerWrapperCommonLog/bin/Debug
/LoggerWrapperCommonLog/obj
/LoggerWrapperWindows/bin/Debug
/LoggerWrapperWindows/obj
/packages
/Tests/bin/Debug
/Tests/obj
/TestsWindows/bin/Debug
/TestsWindows/obj
/TestsCommonLog/bin/Debug
/TestsCommonLog/obj
